<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
    <div id="placesList" th:fragment="placesList">
        <div id="places" th:if="${places != null}">
            <th:block th:each="place : ${places}">
                <div>
                    <p class="placeLink" th:onclick="'javascript:showPlace(\'' + ${place.id} + '\')'" th:text="${place.title}">Title</p>
                    <div class="showPlace" th:id="'showPlace' + ${place.id}">
                        <div>
                            <p th:text="${place.description}">Description</p>
                            <p>Open: <span th:text="${place.openingHours}">Open</span></p>
                            <button class="deleteButton" th:onclick="'javascript:deletePlace(\'' + ${place.id} + '\')'">Delete</button>
                            <button class="editButton" th:onclick="'javascript:editPlace(\'' + ${place.id} + '\')'">Update</button>
                        </div>
                    </div>
                    <div th:fragment="editPlace" th:id="'editPlace' + ${place.id}"></div>
                </div>
            </th:block>
        </div>
    </div>
</body>
</html>