<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <title>Map Places</title>
        <link rel="shortcut icon" th:href="@{/images/favicon.png}" type="image/png"/>
        <link th:href="@{/css/map_places.css}" rel="stylesheet">
    </head>
    <body>
        <div class="content">
            <h1>Map Places</h1>

            <div id="map"></div>

            <button onclick="toggleAddPlaceForm()">Add Place</button>
            <div id="addPlaceForm">
                <div class="addPlaceInput">
                    <label for="placeTitle">Title</label>
                    <input type="text" id="placeTitle" class="addPlaceInput" />
                </div>
                <div class="addPlaceInput">
                    <label for="placeDescription">Description</label>
                    <input type="text" id="placeDescription" class="addPlaceInput" />
                </div>
                <div class="addPlaceInput">
                    <label for="placeLatitude">Latitude</label>
                    <input type="text" id="placeLatitude" class="addPlaceInput" />
                </div>
                <div class="addPlaceInput">
                    <label for="placeLongitude">Longitude</label>
                    <input type="text" id="placeLongitude" class="addPlaceInput" />
                </div>
                <div class="addPlaceInput">
                    <label for="placeOpeningHours">Opening hours</label>
                    <input type="text" id="placeOpeningHours" class="addPlaceInput" />
                </div>

                <button id="addPlaceButton" onclick="addPlace()">Save</button>
            </div>

            <div id="placesList" th:fragment="placesList">
                <div id="places" th:if="${places != null}">
                    <th:block th:each="place : ${places}">
                        <div>
                            <p class="placeLink" th:onclick="'javascript:showPlace(\'' + ${place.id} + '\')'" th:text="${place.title}">Title</p>
                            <div class="showPlace" th:id="'showPlace' + ${place.id}">
                                <div>
                                    <p th:text="${place.description}">Description</p>
                                    <p>Open: <span th:text="${place.openingHours}">Open</span></p>
                                    <button class="deleteButton" th:onclick="'javascript:deletePlace(\'' + ${place.id} + '\')'">Delete</button>
                                    <button class="editButton" th:onclick="'javascript:editPlace(\'' + ${place.id} + '\')'">Update</button>
                                </div>
                            </div>
                            <div th:fragment="editPlace" th:id="'editPlace' + ${place.id}"></div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
        <script th:src="@{js/map_places.js}"></script>
        <script th:inline="javascript" th:src="${map_url}"></script>
        <script th:inline="javascript" async defer>
                const places = /*[[${places}]]*/ [];
                initMap(places);
        </script>
    </body>
</html>